<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
 	<properties resource="db.properties"></properties>
 	<typeAliases>
 		<package name="com.pmis.domain"/>
 	</typeAliases>
  	<environments default="dev">
  		<environment id="dev">
  			<transactionManager type="JDBC"></transactionManager>
  			<dataSource type="POOLED">
  				<property name="driver" value="${driverClassName}"/>
  				<property name="url" value="${url}"/>
  				<property name="username" value="${username}"/>
  				<property name="password" value="${password}"/>
  			</dataSource>
  		</environment>
  	</environments>
  		<mappers>
  			<mapper resource="com/pmis/mapper/ProductMapper.xml"/>
  			<mapper resource="com/pmis/mapper/UserMapper.xml"/>
  		</mappers>
  </configuration>